<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>405485039862-gmmd7t67de0dv3kfqjqikqk3aafdo2e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405485039862-gmmd7t67de0dv3kfqjqikqk3aafdo2e1</string>
	<key>API_KEY</key>
	<string>AIzaSyDNE58aQJD9Rp31z5uIIpA3ABDA0XV9I0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>405485039862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flipper.flipper</string>
	<key>PROJECT_ID</key>
	<string>flipper-core</string>
	<key>STORAGE_BUCKET</key>
	<string>flipper-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405485039862:ios:074c1a310c1afcc1</string>
	<key>DATABASE_URL</key>
	<string>https://flipper-core.firebaseio.com</string>
</dict>
</plist>